body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo{
    width: 65px;
    height: 60px;
}

.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.text-white{
    text-decoration: none;
}


.contain {
    max-width: 600px;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.form-label {
    font-weight: bold;
    color: #fff;
}

.form-control {
    background-color: #444;
    color: #fff;
    border: 1px solid #555;
}

.form-control:focus {
    background-color: #555;
    color: #fff;
    border-color: #777;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    margin-bottom: 15px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.link-text{
    color: #fff;
}

.drop-content{
    display: none;
    position: absolute;
    top: 140%;
    right: -100%;
    color: #fff;
    background-color: #444;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1; 
    font-family: Arial, sans-serif;
}

.dropdown:hover .drop-content{
    display: block;
}
.dropdown p i{
    position: relative;
}

.dropdown p{
    margin:0;
}